<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>Post Form</title>
</head>
<body>
	<form action="post.html" method="post" th:action="@{/post/write}">
		<h2>글쓰기</h2>
		<hr />
		<fieldset>
			<label>bookTitle</label>
			<input type="text" name="bookTitle" />
		</fieldset>
		<fieldset>
			<label>content</label>
			<textarea name="content"></textarea>
		</fieldset>
		<input type="submit" value="저장" />
	</form>
</body>
</html>
